body {
  margin: 0;
  background: #d4ff00;
  color: #000000;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
}

button {
  margin: 10px;
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
}

.menu-buttons {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.screen {
  display: none;
  text-align: center;
}

.level-grid {
  display: grid;
  grid-template-columns: repeat(5, 80px);
  grid-gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.level {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border: 2px solid #00ccff;
  background: rgb(178, 255, 254);
  color: #1e00ff;
}

#gameCanvas {
  border: 4px solid rgb(51, 0, 255);
  background-color: #c7eaff;
  background-image: radial-gradient(#0008ff 1px, transparent 1px),
                    radial-gradient(#ff0000 1px, transparent 1px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.controls {
  margin-top: 10px;
}

#score, #timer, #enemyCount {
  font-size: 20px;
  margin-top: 10px;
  color: rgb(0, 0, 0);
}

.skins-grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.skin-preview {
  border: 2px solid #333;
  cursor: pointer;
}

.skin-preview:hover {
  transform: scale(1.1);
}

.selected-skin {
  border: 3px solid #11ffeb; /* إطار مميز */
  box-shadow: 0 0 10px #ff7575; /* لمعان حول السكن */
}